*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  /* Escala tipografica */
  font-size: 62.5%;

  /*Familias Tipograficas*/

  /* Variables tipograficas */
  --text-caption: 1.2rem;
  --text-note: 1.4rem;
  --text-base: 1.8rem;
  --text-subheader: 2rem;
  --text-title: 2.8rem;
  --text-headline: 4.2rem;
  --text-display: 8.8rem;
  --text-jumbo: 14rem;

  /*Paleta de Colores*/
  --primary: #171715;
}

body {
  color: var(--primary);
  font-size: var(--text-base);
}